/.vscode
/blackjack.py
/New Text Document.txt
/PE2.py
/PE3.py
/PE4.py
/PE5.py
/pygame1.py
/randomnumgame.py
/returnFile.txt
/stupidautoclicker.py
/tasks.py
/tasks.txt
/test.py
/textrepl.py
/tkinterOne.py
/walkermathcalc.py
/__pycache__